<div class="wrapper" style="padding:20px">
  <h3>Mailing List</h3>
  <!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup">
  <form action="http://ruhoh.us1.list-manage.com/subscribe/post?u=af7ae466c004441192ef9e2c5&amp;id=3302121f75" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank">
  <div class="mc-field-group">
    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="email address">
    <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-success">Subscribe</button>
  </div>
  </form>
  </div>
  <!--End mc_embed_signup-->
  <div>
    <p>
      Keep up on the bleeding edge of development.
    </p>
    <ul>
      <li>New version and feature releases.</li>
      <li>New service rollouts.</li>
      <li>Priority access to premium features.</li>
    </ul>
  </div>
</div>
