/* Override some defaults */
html, body, p, ul, a {
  font-family:verdana;
}
p {
  font-size:1.1em;
  line-height:1.5em;
}
h1, h2, h3, h4, h5 {
  font-family: 'Voces', verdana, serif;
}
h1 {
  margin-bottom:15px;
}
pre, code {
  overflow: auto !important;
}
ul.thumbnails div.thumbnail {
}
ul.thumbnails div.thumbnail a{ 
  display:block;
  font-size:30px;
  line-height:120px;
  color:#777;
  background:#333;
  border-radius:4px;
  font-family: 'Voces', verdana, serif;
}
img {
  order:3px solid #F0F0D8; order-radius:3px;
}
dl dd {
  margin-bottom:10px;
}
h3 {
  margin-bottom:10px;
}
table, pre {
  margin-bottom:10px;
}
table thead th {
  text-align:left;
}
table td, table th {
  padding:15px;
}
hr {clear:both; border:0}

/* top navigation --------------------------------------*/
.navbar a.brand  {
  color:#607848;
  font-weight:bold;
  font-family: 'Voces', verdana, serif;
}
.navbar ul.nav > li > a, 
.navbar ul.nav > li > a:hover {
  color:#607848;
  font-family: verdana, serif;
}
.navbar ul.nav > li > a.active,
.navbar ul.nav > li > a.active:hover {
  background-color:#607848;
}
/* social */
ul.social li iframe{
  position:relative;
  margin:0 10px;
  top:10px;
}
.icon-github {
  background-image:url('../media/github_white_black_cat_32.png') !important;
  background-position:0 0;
}


.stripe {
  background:#FFF url('../media/stripe.png') repeat;
  border-radius:3px;
  box-shadow:inset 0 0 5px #F0F0D8;
}
#user-list {
  margin:0;
  margin-bottom:20px;
  padding:0;
  list-style:none;
}
#user-list li {
  display:inline;
} 
#user-list li img { 
  border:1px solid #777;
  background:#FFF;
  border-radius:1px;
}
/* splash page */
h1.splash-header {
  text-align:center; font-size:38px; padding:30px;
}

div.box {
  padding:40px 20px 20px 20px;
  margin-bottom:20px;
  border-left:2px solid #F0F0D8;
}
.splash-more h2 {
  display:inline-block;
  background:#F0F0D8;
  padding:0 14px;
  line-height:36px;
  border-radius:3px;
  font-size:16px;
  position:relative;
  top:20px;
  margin:0 0 0px 0px;
  box-shadow: inset 0px 0px 10px #C9C9B5;
}
.splash-more ul.feedback li{
  line-height:2em;
}  

/* splash-message --------------------------------------*/
.splash-message h3,
.splash-message ul {
  margin-bottom:20px;
}
.splash-message table td {
  padding:7px;
}

/* splash install -------------------------------------- */
.splash-install h1 {
  font-size:28px;
  text-align:center;
}
.splash-install div.wrapper {
  padding:20px 0;
  background:#F0F0D8;
  order:1px solid #C0D860; 
  border-radius:3px;
  box-shadow:inset 0 0 10px #C0D860;
  
  order:1px solid #F0F0D8;
  background:#FFF url('../media/stripe.png') repeat;
  border-radius:3px;
  box-shadow:inset 0 0 5px #F0F0D8;
  
}
.splash-install div.wrapper > div {

}
.splash-install div.wrapper h3{ 
  display:inline-block;
  background:#C0D860;
  padding:0 14px;
  line-height:36px;
  border-radius:3px;
  font-size:16px;
  margin:0 0 20px -30px;
  box-shadow: inset 0px 0px 2px #789048;
}
.splash-install form {
  vertical-align:middle;
}
.splash-install form,
.splash-install table,
.splash-install pre,
.splash-install p.profit-content {
  margin-bottom:20px
}

/* github table */
.splash-install table {
  width:100%;
}
.splash-install table td {
  padding:10px 12px;
  font-size:14px;
  font-weight:bold;
  vertical-align:center;
}
.splash-install .table-striped tbody tr:nth-child(odd) td,
.splash-install .table-striped tbody tr:nth-child(odd) th {
  background-color:#E0E4CC;
}
.splash-install .table-bordered,
.splash-install .table-bordered th,
.splash-install .table-bordered td {
  border-color:#E0E4CC;
}

.splash-install button {
  font-weight:bold;
  font-size:14px;
}


/* documentation section -------------------------------------- */
#main-content.docs h1 {
  margin:50px 0 50px 0;
  font-size:40px;
  color:#221F26;
  text-align:center;
}
#main-content.docs h2 {
  border-top:3px solid #F0F0D8;
  padding-top:10px;
  margin-top:20px;
  margin-bottom:10px;
  color:#607848;
}

#main-content.edge h1 {
  margin:25px 0 25px 0;
  padding:20px;
  font-size:34px;
  color:#221F26;
  background:#F0F0D8;
  text-align:center;
}
#main-content.edge h2 {
  margin:40px 0 40px 0;
  font-size:30px;
  color:#221F26;
  text-align:center;
}
#main-content.edge h3 {
  border-top:3px solid #F0F0D8;
  padding-top:10px;
  margin-top:20px;
  margin-bottom:10px;
  color:#607848;
}

table td.module {
  width:120px;
  font-weight:bold;
  color:#604848;
  vertical-align:top;
}
table td.module ul li{ 
  color:#444;
  font-weight:normal;
}

/* table of contents --------------------------------------- */
.toc-container {
  height:500px;
  overflow:auto;
  padding:20px;
  margin-top:-1px;
  background:#C0D860;
  border:2px solid #F0F0D8;
  border-radius:0 0 5px 5px;
}
.toc-container .pane {
  width:48%;
  float:left;
}
.toc-container h4 {
  margin-bottom:10px;
  padding:3px 0;
}  
.toc-container h4 a {
  color:#789048;
  padding:3px 6px;
  background:#FFF;
  border-radius:3px;
}
.toc-container ul {
  margin-left:3px;
  margin-bottom:10px;
}
.toc-container ul, .toc-container ul li {
  list-style:none;
}
.toc-container a, .toc-container ul li a {
  color:#607848;
}  
.toc-container ul li.active a {
  color:orange;
  font-weight:bold;
}
#table-of-contents {
  top:41px;
  overflow:visible;
}
#table-of-contents div.wrap {
  margin:auto;
  width:780px;
  position:relative;
}


/* contact-list --------------------------------------- */
ul.contact-list {
  margin-top:20px;
  text-align:center;
}
ul.contact-list li {
  list-style:none;
  display:inline-block;
  line-height:28px;
  width:30%;
}
ul.contact-list li.tweet iframe { position:relative; top:5px}


/* tag_box --------------------------------------- */
.tag_box {
  list-style:none;
  margin:0;
  padding:5px 0 ;
  overflow:hidden;
}
.tag_box li {
  line-height:28px;
}
.tag_box.inline li {
  float:left;
}
.tag_box a {
  padding: 2px 4px;
  margin: 2px;
  background: #efefef;
  color:#555;
  border:1px dashed #ccc;
  border-radius: 3px;
  text-decoration:none;
}
.tag_box a span{
  vertical-align:super;
  font-size:0.8em;
}
.tag_box a.active {
  background:#57A957;
  border:1px solid #4C964D;
  color:#FFF;
}

/* folder tree --------------------------------------- */  
ul.folder-tree {
  margin-left:0;
  padding:10px;
  ox-shadow:inset 0 0 5px #F0F0D8;
}  
ul.folder-tree, ul.folder-tree ul {
  list-style:none;
}
ul.folder-tree li em , ul.folder-tree ul li em{ 
  text-decoration:normal;
  font-style:normal;
  padding:1px 8px;
  border-radius:3px;
  background:#FFF;
}

ul.folder-tree > li.endpoint  {
  position:relative;
  margin-bottom:5px;
  padding:5px 0;
  border:1px solid #F0F0D8;
  background:#FFF url('../media/stripe.png') repeat;
  border-radius:3px;
  box-shadow:inset 0 0 5px #F0F0D8;
}
ul.folder-tree > li.endpoint a {
  position:absolute;
  eft:-40px;
  right:10px;
  top:5px;
}
ul.folder-tree > li.info  { 
  padding:10px 20px;
  margin-bottom:5px;
  background:#F5F0D0;
  border:1px solid #D2CC65;
  display:none;
}
ul.folder-tree > li > em {
  font-weight:bold;
}

/* COLORS */ 
/*
ul.folder-tree li em.config, ul.folder-key li.config {
  background-color:#FFA398;
}
ul.folder-tree li em.post, ul.folder-key li.post {
  background-color:#FCE5C0;
}
ul.folder-tree li em.page, ul.folder-key li.page {
  background-color:#9AD9D2;
}
ul.folder-tree ul.template em, ul.folder-tree em.template-light,
ul.folder-key li.template {
  background-color:#E9FFE1;
}
ul.folder-tree li em.template {
  background-color:#D0F7A6;
}
ul.folder-tree ul.partial em, ul.folder-tree em.partial,
ul.folder-tree li.partial em {
  background-color:#C7F464;
}

*/
ul.folder-key {
  margin-left:0;
  margin-bottom:10px;
}
ul.folder-key li {
  display:inline;
  padding:2px 8px;
  margin-right:2px;
  border-radius:3px;
}


/* 
  Silk Sprites
  http://xheo.com/silk?icons=422,442,443,505,507,607,608,609,610,617,619,623,628,635,636,643,646,652,656,674,704,756,990&size=25
*/

.ui-silk { width: 25px; height: 25px; display:block; background: transparent url(../media/silk-sprite.png?634672676400377835) no-repeat; text-indent: -99999px; overflow: hidden; }
.ui-silk.gray, .ui-silk.gray, .ui-silk.hover { background-image: url(../media/silk-sprite-gray.png?634672676400377835); }
*.ui-silk.inline{ display: inline-block; vertical-align: middle; border: 0; outline: 0; }

.ui-silk.hover:hover{background-image: url(../media/silk-sprite.png?634672676400377835);}.ui-silk-folder { background-position: -0px -0px }
.ui-silk-folder-page { background-position: -25px -0px }
.ui-silk-folder-page-white { background-position: -50px -0px }
.ui-silk-layout { background-position: -75px -0px }
.ui-silk-layout-content { background-position: -100px -0px }
.ui-silk-page { background-position: -125px -0px }
.ui-silk-page-add { background-position: -150px -0px }
.ui-silk-page-attach { background-position: -175px -0px }
.ui-silk-page-code { background-position: -200px -0px }
.ui-silk-page-gear { background-position: -225px -0px }
.ui-silk-page-green { background-position: -250px -0px }
.ui-silk-page-paintbrush { background-position: -275px -0px }
.ui-silk-page-white { background-position: -300px -0px }
.ui-silk-page-white-code { background-position: -325px -0px }
.ui-silk-page-white-code-red { background-position: -350px -0px }
.ui-silk-page-white-database { background-position: -375px -0px }
.ui-silk-page-white-edit { background-position: -400px -0px }
.ui-silk-page-white-gear { background-position: -425px -0px }
.ui-silk-page-white-horizontal { background-position: -450px -0px }
.ui-silk-page-white-text { background-position: -475px -0px }
.ui-silk-picture { background-position: -500px -0px }
.ui-silk-ruby { background-position: -525px -0px }
.ui-silk-wrench { background-position: -550px -0px }






/* Subnav */
.subnav {
  width: 100%;
  height:39px;
  background:#789048;
  border:0;
  border-bottom: 2px solid #607848;
}
.subnav a.brand {
  color:#F0F0D8;
  float:left;
  line-height:38px;
  margin-left:20px;
}
.subnav .nav {
  margin-bottom: 0;
  
}

.subnav a i.icon-white{ 
  opacity:0.5
}

.subnav .nav > li > a {
  margin: 0;
  padding:13px;
  border-left: 1px solid #607848;
  border-right: 1px solid #607848;
  color:#F0F0D8;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.subnav .nav > li > a:hover {
  background-color: #607848;
}
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  background-color: #F0F0D8;
  color:#607848;
  border:0;
}

.subnav .nav > .active > a i.icon-white {
  background-image:url("../media/glyphicons-halflings.png") !important;
}

.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
}
.subnav .nav > li:last-child > a {
  border-right: 0;
}


/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
  .subnav-fixed {
    position: fixed;
    top: 40px;
    top:0;
    left: 0;
    right: 0;
    z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
  }
  .subnav-fixed .nav {
    width: 938px;
    margin: 0 auto;
    padding: 0 1px;
  }
  .subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }
}




/* subbie */

#subbie {
  top:41px;
  background:#F0F0D8;
  border-bottom: 2px solid #DDDDC7;
}

#subbie.subnav .nav > li > a {
  border-left: 1px solid #DDDDC7;
  border-right: 1px solid #DDDDC7;
  border:0;
  color:#789048;
}
#subbie.subnav .nav > li > a:hover {
  background-color: #DDDDC7;
}
#subbie.subnav .nav > .active > a,
#subbie.subnav .nav > .active > a:hover {
  background-color: #DDDDC7;
  border:0;
}

#subbie.subnav .nav > li > a i { 
  opacity:0.3
}

/* POST template */
#post-header h1 {
  padding-bottom:20px;
}
#post-wrapper h2 {
  margin:0;
  margin-bottom:20px;
  padding-top:20px;
  border-top:3px solid #F0F0D8;
}
#post-wrapper h3 {
  display:inline-block;
  padding:3px 12px;
  border-radius:3px;
  background-color:#F0F0D8;
}
#post-wrapper div.meta > div {
  padding-right:20px; 
  text-align:right;
}
#post-wrapper div.meta h4 {
  color:#555;
}
#post-wrapper .body > p, #post-wrapper .body > pre {
  margin-bottom:15px;
}
#post-wrapper .pagination {
  padding:20px 0 ;
  border-bottom:3px solid #F0F0D8;
}

.edge-table-of-contents {
  position:relative;
  top:-50px;
}