---
layout : docs-layout
---

<div id="left-pane">
  <ul id="toc">
    <li>
      <a class="brand" href="{{urls.base_path}}" style="background-color:#444; padding-left:10px">
        <i class="icon-home icon-white"></i> home
      </a>
    </li>
    {{#data.docs_2_start?to_docs}}
      <li class="{{ url?to_slug }} {{#is_active_page}}active{{/is_active_page}}">
        <a href="{{url}}">{{title}}</a>
      </li>
    {{/data.docs_2_start?to_docs}}

    <li><strong><i class="icon-pencil"></i> CONTENT</strong></li>
    {{#data.docs_2_content?to_docs}}
      <li class="{{ url?to_slug }} {{#is_active_page}}active{{/is_active_page}}">
        <a href="{{url}}">{{title}}</a>
      </li>
    {{/data.docs_2_content?to_docs}}

    <li><strong><i class="icon-exchange"></i> VIEW</strong></li>
    {{#data.docs_2_view?to_docs}}
      <li class="{{ url?to_slug }} {{#is_active_page}}active{{/is_active_page}}">
        <a href="{{url}}">{{title}}</a>
      </li>
    {{/data.docs_2_view?to_docs}}

    <li><strong><i class="icon-desktop"></i> PRESENTATION</strong></li>
    {{#data.docs_2_presentation?to_docs}}
      <li class="{{ url?to_slug }} {{#is_active_page}}active{{/is_active_page}}">
        <a href="{{url}}">{{title}}</a>
      </li>
    {{/data.docs_2_presentation?to_docs}}

    <li><strong><i class="icon-upload"></i> PUBLISH</strong></li>
    {{#data.docs_2_publish?to_docs}}
      <li class="{{ url?to_slug }} {{#is_active_page}}active{{/is_active_page}}">
        <a href="{{url}}">{{title}}</a>
      </li>
    {{/data.docs_2_publish?to_docs}}

    <li><strong><i class="icon-fighter-jet"></i> EXTRAS</strong></li>
    {{#data.docs_2_extras?to_docs}}
      <li class="{{ url?to_slug }} {{#is_active_page}}active{{/is_active_page}}">
        <a href="{{url}}">{{title}}</a>
      </li>
    {{/data.docs_2_extras?to_docs}}
    
    
    <li><strong><i class="icon-cogs"></i> EXTEND</strong></li>
    {{#data.docs_2_extend?to_docs}}
      <li class="{{ url?to_slug }} {{#is_active_page}}active{{/is_active_page}}">
        <a href="{{url}}">{{title}}</a>
      </li>
    {{/data.docs_2_extend?to_docs}}
    
  </ul>
</div>
<div id="right-pane">
  <div id="version-notice">
    <h4 class="success">THIS VERSION IS CURRENT</h3>
    <ul>
      <li><a href="/docs/2">v{{ data.LATEST_VERSION }} Latest Docs</a></li>
      <li><a href="/docs/1/setup">v1.x Docs</a></li>
      <li><a href="/docs/0/setup">v0.x Docs</a></li>
    </ul>
  </div>

</div>