---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le styles -->
  <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
  <script type="text/javascript">
    WebFontConfig = {
      google: { families: [ 'Voces::latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })(); </script>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner" style="background:#F0F0D8; box-shadow: 0 0 0 0; border-bottom:1px solid #E0E4CC">
      <div class="container">
        <a class="brand" href="/">{{ site.title }}</a>
        <ul class="nav">
        {{# site.navigation?to_pages }}
          {{> pages_list }}
        {{/ site.navigation?to_pages }}
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content">
      {{ content }}
    </div>

    <footer class="footer" style="text-align:center; margin:50px 0">
      <p>Diligently authored by Jade Dominguez in 2012
        with help from <a href="http://ruhoh.com" target="_blank" title="The Definitive Lean Blogging Framework">Ruhoh</a>,
        <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>, and countless humans.
      </p>
      <p>
        All my work is <a href="http://unlicense.org/">Unlicensed, Open and Free</a>.
      </p>
    </footer>

  </div> <!-- /container -->

  {{{ analytics }}}
  
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>
  // Table Of Contents
  var Toc = {
    $container : null,
    $wrapper : null,

    init : function(container, wrapper){
      Toc.$container = $(container);
      Toc.$wrapper = $(wrapper);

      Toc.build();
      Toc.toggle();
      $(window).resize(function(){ Toc.toggle() })
    },

    build : function(){
      var h1 = [];
      var h2 = [];

      Toc.$wrapper.find("h1").each(function(){
        var h = {h1 : this, children : null }
        h.children = $(this).nextUntil("h1", "h2");
        h1.push(h);
      })

      var cache = '';
      h1.forEach(function(node){
        cache += '<h4><a href="#'+ node.h1.id + '">'+$(node.h1).text()+'</a></h4>';

        cache += "<ul>"
        node.children.each(function(){
          cache += '<li class="sub"><a href="#'+ this.id + '">'+ $(this).text() + '</a></li>';
        })
        cache += "</ul>";
      })

      Toc.$container.prepend(cache);
    },

    toggle :function(){
      if($(window).width() > 1000) Toc.$container.show();
      else Toc.$container.hide();
    }
  }
  </script>
  <script>
    $(function(){
    Toc.init('#side-content', '#main-content');
    })
  </script>
  
  
  <!-- CODE HIGHLIGHTING -->
  <link rel="stylesheet" href="/_media/code-highlight/sunburst.css" type="text/css" media="screen" charset="utf-8">
  <script src="/_media/code-highlight/prettify.js"></script>
  <script>
    $(function(){
      $('pre').addClass("prettyprint linenums");
      prettyPrint();
    })
  </script>
  </body>
</html>