---
layout : default
---

<h3 style="margin-bottom:20px">Getting Started</h3>

<div class="row" style="ackground:#EEE;">
  <div class="span3">
    <h3>Development Setup</h3>
    <ul>
      <li><a href="#">Ruby</a></li>
    </ul>

    <h3>Main Configuration</h3>
    <ul>
      <li><a href="#">Set permalink format</a></li>
      <li><a href="#">Set theme</a></li>
      <li><a href="#">Set comments</a></li>
      <li><a href="#">Set analytics</a></li>
      <li><a href="#">Set asset_path (CDN)</a></li>
    </ul>

  </div>

  <div class="span3">

    <h3>Content</h3>
    <ul>
      <li><a href="">Create a page</a></li>
      <li><a href="">Create a post</a></li>
      <li><a href="">Create a post-draft</a></li>
      <li><a href="">Embed and highlight code</a></li>
      <li><a href="">Insert pictures, slides, media</a></li>
    </ul>

  </div>


  <div class="span3">

    <h3>Templating</h3>

    <ul>
      <li><a href="#">Working with Themes</a></li>
      <li><a href="#">Install Themes</a></li>
      <li><a href="#">Customize Themes</a></li>
      <li><a href="#">Create Themes</a></li>
    </ul>

  </div>


  <div class="span3">

    <h3>Publish</h3>

  </div>

</div>


<div class="row">
  <div class="span12">
  {{ content }}
  </div>
</div>
