---
layout : docs-layout
---

<div id="left-pane">
  <ul id="toc">
    <li>
      <a class="brand" href="{{urls.base_path}}" style="background-color:#444">
        <i class="icon-home icon-white"></i> home
      </a>
    </li>
    {{#data.docs_1_navigation?to_docs}}
      <li class="{{ url?to_slug }} {{#is_active_page}}active{{/is_active_page}}">
        <a href="{{url}}">{{#icon}}<i class="{{.}} icon-white"></i>{{/icon}} {{title}}</a>
      </li>
    {{/data.docs_1_navigation?to_docs}}
  </ul>
</div>
<div id="right-pane">
  <div id="version-notice">
    <h4 class="error">THIS VERSION IS OUTDATED</h3>
    <ul>
      <li><a href="/docs/2">v2.x Latest Docs</a></li>
      <li><a href="/docs/1/setup">v1.x Docs</a></li>
      <li><a href="/docs/0/setup">v0.x Docs</a></li>
    </ul>
  </div>
</div>