/* Override some defaults */
html, body, p, ul {
  font-family: 'Maven Pro', sans-serif;
  font-size:15px;
}
a {
  font-size: inherit;
}
p {
  line-height:1.5em;
  white-space: pre;           /* CSS 2.0 */
  white-space: pre-wrap;      /* CSS 2.1 */
  white-space: pre-line;      /* CSS 3.0 */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap;  /* HP Printers */
  word-wrap: break-word;      /* IE 5+ */
}
h1, h2, h3, h4, h5 {
  font-weight: 700;
  font-family: 'Maven Pro', sans-serif;
}
h1 {
  margin-bottom:15px;
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
  margin-bottom:10px;
}
h4, h5 {
  font-size: 16px;
}
pre, code {
  overflow: auto !important;
  font-size:14px;
}
img {
  order:3px solid #F0F0D8; order-radius:3px;
}
dl dd {
  margin-bottom:10px;
}
table, pre {
  margin-bottom:10px;
}
table thead th {
  text-align:left;
}
table td, table th {
  padding:15px;
}
hr {clear:both; border:0}

/* top navigation --------------------------------------*/
.navbar a.brand  {
  color:#607848;
  font-weight:bold;
  font-family: 'Voces', verdana, serif;
}
.navbar ul.nav > li > a, 
.navbar ul.nav > li > a:hover {
  color:#607848;
  font-family: verdana, serif;
}
.navbar ul.nav > li > a.active,
.navbar ul.nav > li > a.active:hover {
  background-color:#607848;
}
/* social */
ul.social li iframe{
  position:relative;
  margin:0 10px;
  top:10px;
}
.icon-github {
  background-image:url('../media/github_white_black_cat_32.png') !important;
  background-position:0 0;
}


.stripe {
  background:#FFF url('../media/stripe.png') repeat;
  border-radius:3px;
  box-shadow:inset 0 0 5px #F0F0D8;
}
#user-list {
  margin:0;
  margin-bottom:20px;
  padding:0;
  list-style:none;
}
#user-list li {
  display:inline;
} 
#user-list li img { 
  border:1px solid #777;
  background:#FFF;
  border-radius:1px;
}
/* splash page */
h1.splash-header {
  text-align:center; 
  font-size:38px;
  padding:20px;
  margin:0 !important;
}

div.box {
  padding:40px 20px 20px 20px;
  margin-bottom:20px;
  border-left:2px solid #F0F0D8;
}

.container.default {
  h1 {
    margin:30px 0;
  }
  ol {
    & > li {
      margin-bottom: 7px;
      strong {
        display:block;
        margin-bottom: 5px
      }
    }

    ol {
      margin-top: 7px;
    }
  }
}
#benefits-table { 
  tr td:first-child {
    color:#607848;
  }
  
}


/* contact-list --------------------------------------- */
ul.contact-list {
  margin:0;
  padding:0;
  margin-top:20px;
}
ul.contact-list li {
  list-style:none;
  display:inline-block;
  line-height:28px;
  width:30%;
}
ul.contact-list li.tweet iframe { position:relative; top:5px}


/* tag_box --------------------------------------- */
.tag_box {
  list-style:none;
  margin:0;
  padding:5px 0 ;
  overflow:hidden;
}
.tag_box li {
  line-height:28px;
}
.tag_box.inline li {
  float:left;
}
.tag_box a {
  padding: 2px 4px;
  margin: 2px;
  background: #efefef;
  color:#555;
  border:1px dashed #ccc;
  border-radius: 3px;
  text-decoration:none;
}
.tag_box a span{
  vertical-align:super;
  font-size:0.8em;
}
.tag_box a.active {
  background:#57A957;
  border:1px solid #4C964D;
  color:#FFF;
}

/* Subnav */
.subnav {
  width: 100%;
  height:39px;
  background:#789048; /*GREEN*/
  border:0;
  border-bottom: 2px solid #607848; /*DARK GREEN*/
}
.subnav a.brand {
  color:#F0F0D8; /*YELLOW*/
  float:left;
  line-height:38px;
  margin-left:20px;
}
.subnav .nav {
  margin-bottom: 0;
  
}

.subnav a i.icon-white{ 
  opacity:0.5
}

.subnav .nav > li > a {
  margin: 0;
  padding:13px;
  border-left: 1px solid #607848;
  border-right: 1px solid #607848;
  color:#F0F0D8;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.subnav .nav > li > a:hover {
  background-color: #607848;
}
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  background-color: #F0F0D8;
  color:#607848;
  border:0;
}

.subnav .nav > .active > a i.icon-white {
  background-image:url("../media/glyphicons-halflings.png") !important;
}

.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
}
.subnav .nav > li:last-child > a {
  border-right: 0;
}


/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
  .subnav-fixed {
    position: fixed;
    top: 40px;
    top:0;
    left: 0;
    right: 0;
    z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
  }
  .subnav-fixed .nav {
    width: 938px;
    margin: 0 auto;
    padding: 0 1px;
  }
  .subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }
}



body {
  height:100%;
  margin:0;padding:0;
}
.container-fluid {
   overflow:auto;
   height:100%;
   min-width:900px;
   position:relative;
}
#left-pane {
  position:fixed;
  top:0;
  width:16%;
  height:100%;
  overflow:auto;
  background-color:#607848;
  border-right:1px solid #607848;
}
#outline-pane {
  position:fixed;
  top:0;
  left:16%;
  width:16%;
  height:100%;
  overflow:auto;
}
#novel {
  position:relative;
  top:0;
  left:32%;
  width:62%;
  background:#FFF;
}
#novel > .inner {padding:15px 30px}
footer {
  clear:both;
  padding:10px;
}

#nav-toggle{
  z-index:10000000;
  width:100%;
  display:none;
}
#nav-toggle a {
  display:block;
  padding:0 10px;
  height:40px;
  line-height:40px;
  background:#333;
  color: #FFF;
  text-align:right;
  text-decoration:none;
}
#nav-toggle a:hover{ text-decoration:underline }

.fixed {
  position:fixed;
}
.hide { display:none }

@media all and (max-width: 767px) {
  #novel { left:0; width:100% }
  #novel > .inner { padding:15px }
  #left-pane {
    width:100%; 
    display:none;
    height:100%;
    position:relative;
  }
  #outline-pane { display:none }
  #nav-toggle { display:block }
  #toc li:first-child {display:none}
}
@media all and (min-width: 767px) { #left-pane {display:block !important }}

body.docs-0 #left-pane-off { background-color:#eee;}
body.docs-0 ul.nav > li > a-off { background-color:#CCC }


#version-notice {
  color:#FFF;
  display:block;
  padding:2px 15px;
  font-size:0.9em;
}
#version-notice.error {background-color:#BD3737;}
#version-notice.success {background-color:#789048;}


kbd {
  padding: 0.1em 0.6em;
  border: 1px solid #ccc;
  font-size: 11px;
  font-family: Arial,Helvetica,sans-serif;
  background-color: #f7f7f7;
  color: #333;
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin: 0 0.1em;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.4;
  white-space: nowrap;}

.navbar a {
  font-size:14px;
}