<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<h1>{{config.greeting }}</h1>
<ul>
  {{# config.people }}
  <li>{{.}}</li>
  {{/ config.people }}
</ul>
<div id="{{config.target_id}}"></div>
<script>
$(function(){Toc.init('#{{config.target_id}}','#{{config.wrapper_id}}') })
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<h3>ShyPea Meep Meep</h3>
<div id="{{config.target_id}}"></div>
<script>
$(function(){Toc.init('#{{config.target_id}}','#{{config.wrapper_id}}') })
</script>