<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | ruhoh universal static blog generator</title>
  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  {{{ stylesheets.all }}}
  {{{ javascripts.all }}}
  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ urls.media }}/jquery-1.9.0.js"><\/script>')</script>
</head>
<body>

  <div class="navbar">
    <div class="navbar-inner" style="background:#F0F0D8; box-shadow: 0 0 0 0; border-bottom:1px solid #E0E4CC">
      <div class="container" style="width:100%; padding:0 20px;">
        <a class="brand" href="/">{{ data.title }}</a>
        <ul class="nav">
          <li><a href="{{base_path}}docs/2">Documentation</a></li>
          <li><a href="{{base_path}}latest-updates">Latest Updates</a></li>
        </ul>
        <ul class="nav social pull-right">
          <li><a href="https://github.com/ruhoh/ruhoh.rb/">Code on GitHub</a></li>
          <li><a href="https://twitter.com/ruhohBlog" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @ruhohBlog</a></li>
          <li><a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="http://ruhoh.com" data-hashtags="ruhoh" data-text="New static blog generator for the hacker in all of us &rarr;">Tweet</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container" style="position:relative; top:50px">
    <div class="content">
      {{{ content }}}
    </div>

    <footer class="footer" style="text-align:center; margin:50px 0">
      <p>
        {{> contact_list }}
      </p>
      <p>Diligently authored by Jade Dominguez in 2012
        with help from <a href="http://ruhoh.com" target="_blank" title="The Definitive Lean Blogging Framework">Ruhoh</a>,
        <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>, and countless humans.
      </p>
      <p>
        All my work is <a href="http://www.opensource.org/licenses/mit-license.html">MIT licensed, Open and Free</a>. =D
      </p>
    </footer>

  </div> <!-- /container -->

  <script type="text/javascript">
    WebFontConfig = {
      google: { families: [ 'Voces::latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })(); </script>
  
  <script src="{{urls.media}}/custom.js?v1"></script>
  <script src="{{urls.media}}/table_of_contents.js"></script>
  <script>
    $(function(){
      Pc.init();
      
      $('ul.folder-tree').find('li.info').hide();
      $('ul.folder-tree').find('li.endpoint').prepend('<a href="#" class="info">info</a>');
      $('ul.folder-tree').find('a.info').click(function(e){
        $(this).parent('li').next('li').toggle();
        e.preventDefault();
        return false;
      })
    })
  </script>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  {{{ widgets.google_prettify }}}
  {{{ widgets.analytics }}}
  
  </body>
</html>