<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | ruhoh universal static blog generator</title>
  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  {{{ stylesheets.all }}}
  {{{ javascripts.all }}}
  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ urls.media }}/jquery-1.9.0.js"><\/script>')</script>
  
  <script src="{{urls.media}}/table_of_contents_new.js"></script>
</head>
<body class="{{page.sub_layout}}">
  <div id="nav-toggle"><a href="#">Menu</a></div>
  {{{ content }}}

  <div id="novel">
    <div class="inner">
      <div id="main-content" class="novel docs layout-{{page.layout}}">
        <div class="inner">
          {{{ page.content }}}
        </div>
      </div>
    </div>

    <footer class="footer" style="padding-left:30px; margin:20px 0">
      <p>
        {{> contact_list }}
      </p>
      <p>Diligently authored by Jade Dominguez in 2012
        with help from <a href="http://ruhoh.com" target="_blank" title="The Definitive Lean Blogging Framework">Ruhoh</a>,
        <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>, and countless humans.
      </p>
      <p>
        All my work is <a href="http://www.opensource.org/licenses/mit-license.html">MIT licensed, Open and Free</a>. =D
      </p>
    </footer>
  </div>
  
  
  <script type="text/javascript">
    WebFontConfig = {
      google: { families: [ 'Voces::latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })(); </script>
  
  <script src="{{urls.media}}/custom.js?v1"></script>
  <script>
    $(function(){
      $("#nav-toggle").click(function(){
        $(this).toggleClass('fixed');
        $("#left-pane").slideToggle('fast')
      })
      Pc.init();
      
      $('ul.folder-tree').find('li.info').hide();
      $('ul.folder-tree').find('li.endpoint').prepend('<a href="#" class="info">info</a>');
      $('ul.folder-tree').find('a.info').click(function(e){
        $(this).parent('li').next('li').toggle();
        e.preventDefault();
        return false;
      })
      
      // NOT WORKING
      //TocNew.init('#toc','#novel', '{{page.css_id}}');
    })
  </script>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  {{{ widgets.google_prettify }}}
  {{{ widgets.analytics }}}
  
  </body>
</html>